.TrainerProgram-breadcrumb{
    font-size: 14px;
    color: #716564;
    padding: 0.1px;
    font-weight: bold;
}

.breadcrumb-link {
    color: #716564;
    text-decoration: none;
}

.breadcrumb-link:hover {
    color: #000;
}

.breadcrumb-current {
    color: #333;
    text-decoration: underline;
}