
.flexx_v2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto; /* เพิ่มช่องว่างบนและล่าง */
  padding: 20px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  
}

  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-group input {
    width: calc(100% - 20px) !important; /* ลดความกว้างลง 20px */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto; /* จัดกลาง input */
}
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #555;
  }
  
  .login-links {
    margin-top: 15px;
  }
  
  .login-links a {
    color: #333;
    text-decoration: none;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }
  