body {
    font-family: "Noto Sans Thai", sans-serif !important;
  }

  
  
  .admin-confirm-payment-container {
    padding: 40px;
    margin-bottom: 20px;
  }
  
  .wrap-breadcrumb {
    margin-bottom: 20px;
  }
  
  .confirm-payment-breadcrumb {
    font-size: 14px;
    color: #716564;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .breadcrumb-link {
    color: #716564;
    text-decoration: none;
  }
  
  .breadcrumb-link:hover {
    color: #000;
  }
  
  .breadcrumb-current {
    color: #333;
    text-decoration: underline;
  }
  
  .confirm-payment-title {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Inria Serif', serif;
    padding-left: 20px;
  }
  
  .confirm-payment-subtitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
    padding-left: 20px;
  }
  
  .payment-table {
    width: 80%;
    margin: 0 auto 30px; /* Center table and add space below it */
    border-collapse: collapse;
  }
  
  .payment-table th, .payment-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .payment-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .payment-table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .approve-button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .approve-button:hover {
    background-color: #218838;
  }
  
  .approved-status {
    color: #28a745;
    font-weight: bold;
  }

  /* ปุ่มกลับ */
  .back-button-container {
    display: flex;
    /* Align button to the right */
    /* justify-content: flex-end; */
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .back-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .back-button:hover {
    background-color: #000;
  }
  